$background-color : #edf1f4;
$app-color : #061b26;
$sidebar-width : 130px;
$scrollbar-color : #220834;
$scrollbar-hover : #541e79;
$border-radius : 20px;
$content-padding : 10px;
$content-margin : 10px;